# Node.js dependencies
node_modules/
npm-debug.log*
yarn-error.log
pnpm-debug.log
lerna-debug.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
.log
logs/
debug.log
error.log

# Build files
dist/
build/

# Multer uploads
uploads/

# Database
*.sqlite
*.sqlite3
*.db
*.db-wal
*.db-shm

# VSCode settings
.vscode/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
